/* Global Styles */
body {
    background-image: url('images/runescape-bg.png'); 
    background-repeat: repeat;  
    background-position: center; 
    background-attachment: fixed;
    margin: 0; 
    height: 100vh; 
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #e5e6eb; /* Common color for headers */
    text-align: center; /* Center align headers */
}

#app {
    color: white; /* Text color for the app */
}

.radio {
    text-align: center; /* Center align text */
    color: #e5e6eb; /* Text color for radio buttons */

    font-family: 'Arial', sans-serif; /* Font family for radio buttons */
    font-size: 16px; /* Font size for radio buttons */
    margin: 10px 0; /* Margin for spacing */
}


/* muis scroll */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background-color: #000000; /* Background color of the scrollbar */
}
::-webkit-scrollbar-thumb {
    background-color: #3b3b3b; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */

    border: 2px solid #000000; /* Border around the scrollbar thumb */

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* Inner shadow for depth */
}


